:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

canvas {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#game-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 2 / 1;

  width: min(90vw, calc(90vh * 2));
  height: min(90vh, calc(90vw / 2));

  min-width: 800px;
  min-height: 400px;

  max-width: 1600px;
  max-height: 800px;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.central-container-title-screen {
  display: flex;
  flex-direction: column;

  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.central-container-title-screen h1 {
  font-size: 75px;
  text-align: center;
  color: white;
}

.input-container-title-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5em;

  background-color: rgba(0, 0, 0, 0.4);
  padding: 2em 3em;
  border-radius: 1.5em;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);

  font-family: "Arial", sans-serif;
  color: #fff;
  text-align: center;

  max-width: 500px;
  width: fit-content;
}

.input-container-title-screen button {
  background-color: rgb(121, 85, 72);
  color: #ffffff;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  padding: 0.75em;
  cursor: pointer;
  transition: background-color 0.2s;
}

.input-container-title-screen button:hover {
  background-color: rgb(141, 110, 99);
}

.input-container-title-screen input {
  background-color: white;
  color: black;

  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.7em;
  border-radius: 8px;
}

@media (max-width: 1090px) {
  .central-container-title-screen h1 {
    font-size: 50px;
  }

  .input-container-title-screen {
    padding: 1.5em 2em;
  }
}

@media (max-width: 910px) {
  .central-container-title-screen h1 {
    font-size: 36px;
  }

  .input-container-title-screen {
    padding: 1em 1.5em;
  }

  .input-container-title-screen button,
  .input-container-title-screen input {
    font-size: 0.9rem;
    padding: 0.6em;
  }
}